.grid-container {
    display: grid;
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 100px;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: rgba(47, 225, 219, 0.532);
}
p { font-size: 120%; color: dimgray; }
tr:hover { background-color: rgba(255, 0, 255, 0.5); }

ul {
    list-style-type: none;
}


a { text-decoration: none; }
a:hover { text-decoration: underline; background-color: rgba(255, 0, 255, 0.5); }
a:link, a:visited, a:active {  color: rgba(47, 225, 219, 0.532); padding: 10px 25px; text-align: center; text-decoration: none; display: inline-block; }

.footer {
    position:fixed;
    bottom:0;

  }
